.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .anonymous-pro-bold {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .anonymous-pro-regular-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .anonymous-pro-bold-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: italic;
  }
  


body{

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    position: fixed;
    top: 5%;
    left: 142px;
    right: 142px;
    border: 5px;
    border-color: #305DF3;
    background-color: black;
    border-radius: 40px;
    padding: 10px 0 10px 20px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
nav{
    
    display: flex;
    
}
header a{
    font-family: 'Anonymous Pro';
    display: inline-block;
    vertical-align: middle;
}
header button{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
}